# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/

# Unit test / coverage reports
.coverage
.coverage.*
.pytest_cache/

# Django stuff:
*.log
local_settings.py
db.sqlite3

# IDE Settings
.idea/
